<div id="<%= dom_id menu %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= menu.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Embarkation type:</strong>
    <%= menu.embarkation_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unit price:</strong>
    <%= menu.unit_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Acceptable num:</strong>
    <%= menu.acceptable_num %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Payment method:</strong>
    <%= menu.payment_method %>
  </p>

</div>
