<div><%= "メニュー名：#{menu.name}" %></div>
<div><%= "出船形式：#{t("menu.enum.embarkation_type.#{menu.embarkation_type}")}" %></div>
<div><%= "単価：#{menu.unit_price}" %></div>
<div><%= "乗船可能人数：#{menu.acceptable_num}" %></div>
<div><%= "支払い方法：#{t("menu.enum.payment_method.#{menu.payment_method}")}" %></div>
