<div id="<%= dom_id menu %>">
  <p class="my-5 flex">
    <strong class="block font-medium mb-1">メニュー名:</strong>
    <%= menu.name %>
  </p>

  <p class="my-5 flex">
    <strong class="block font-medium mb-1">出船形式:</strong>
    <%= menu.embarkation_type %>
  </p>

  <p class="my-5 flex">
    <strong class="block font-medium mb-1">単価:</strong>
    <%= menu.unit_price %>
  </p>

  <p class="my-5 flex">
    <strong class="block font-medium mb-1">乗船可能人数:</strong>
    <%= menu.acceptable_num %>
  </p>

  <p class="my-5 flex">
    <strong class="block font-medium mb-1">支払い方法:</strong>
    <%= menu.payment_method %>
  </p>

</div>
