<%= render 'ship_captain/ship_captain_head' %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div>
    <h1 class="font-bold text-4xl">
      <%= t('ship_captain.menu_edit.title')%>
    </h1>
    <div class="text-right"><%= link_to "+新規作成", new_menu_path, class: "font-bold text-teal-500" %></div>
  </div>

  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
              メニュー名
          </th>
          <th scope="col" class="px-6 py-3">
              出船形式
          </th>
          <th scope="col" class="px-6 py-3">
              単価
          </th>
          <th scope="col" class="px-6 py-3">
              乗船可能人数
          </th>
          <th scope="col" class="px-6 py-3">
              支払い方法
          </th>
          <th scope="col" class="px-6 py-3">
              操作
          </th>
        </tr>
      </thead>
      <tbody>
        <% @menus.each do |menu| %>
          <%= render partial: 'menu_table', locals: {menu: menu} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
