<%= turbo_frame_tag "main-contents" do %>
  <%= render 'ship_captain/buttons' %>

  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div>
      <h1 class="font-bold text-4xl">
        <%= t('ship_captain.menu_edit.title')%>
      </h1>
    </div>

    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
                メニュー名
            </th>
            <th scope="col" class="px-6 py-3">
                出船形式
            </th>
            <th scope="col" class="px-6 py-3">
                単価
            </th>
            <th scope="col" class="px-6 py-3">
                乗船可能人数
            </th>
            <th scope="col" class="px-6 py-3">
                支払い方法
            </th>
            <th scope="col" class="px-6 py-3">
                詳細
            </th>
          </tr>
        </thead>
        <tbody>
          <% @menus.each do |menu| %>
            <%= render menu %>
          <% end %>
        </tbody>
      </table>
      <%= link_to "新規作成", new_menu_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </div>
  </div>
<% end %>
