<div id="<%= dom_id schedule %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Menu:</strong>
    <%= schedule.menu_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Departure type:</strong>
    <%= schedule.departure_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Num reservation:</strong>
    <%= schedule.num_reservation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Memo:</strong>
    <%= schedule.memo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= schedule.start_time %>
  </p>

</div>
