<%= render 'ship_captain/ship_captain_head' %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%=t('ship_captain.schedule_edit.title')%></h1>
  </div>

  <%= link_to "+新規作成", new_schedule_path, class: "font-bold text-teal-500 w-4/5" %>
  <%= month_calendar do |date| %>
    <%= date.day %>
  <% end %>

  <div id="schedules" class="min-w-full">
    <% @schedules.each do |schedule| %>
      <%= render schedule %>
      <p>
        <%= link_to "Show this schedule", schedule, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
