<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= link.name %>
  </th>
  <td class="px-6 py-4">
    <%= link.url %>
  </td>
  <td class="px-6 py-4">
    <%= link.description %>
  </td>
  <td class="px-6 py-4">
    <div class="flex">
      <%= link_to "詳細", link_path(link), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "編集", edit_link_path(link), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= button_to "削除", link, method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </td>
</tr>
