<table class="text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">項目</th><th scope="col" class="px-6 py-3">内容</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">氏名または名称</th><td class="px-6 py-4"><%= "#{fishing_service_info.name}" %></td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">登録番号</th><td class="px-6 py-4"><%= "#{fishing_service_info.pref} #{fishing_service_info.number}" %></td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">登録の有効期間</th><td class="px-6 py-4"><%= "#{fishing_service_info.registration_start_date} ~ #{fishing_service_info.registration_end_date}"%></td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">営業所の所在地</th><td class="px-6 py-4"><%= "#{fishing_service_info.address}" %></td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">遊漁船の名称</th><td class="px-6 py-4"><%= "#{fishing_service_info.ship_name}" %></td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">遊漁船業務主任者の名前</th><td class="px-6 py-4"><%= "#{fishing_service_info.administrator.join(', ')}"%></td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">損害賠償措置の保険期間</th><td class="px-6 py-4"><%= "#{fishing_service_info.insurance_start_date} ~ #{fishing_service_info.insurance_end_date}"%></td>
    </tr>
  </tbody>
</table>
